
<!DOCTYPE html>
<html lang="en">
   {% load static %}

   {% include 'head.html' %}
   <style>
      html,
      body,
      header,
      .jarallax {
      height: 1000px;
      min-height: 800px;
      }
   </style>
 
   <body>
      <nav class="navbar navbar-light bg-light">
         <div class="container-fluid">
           <a class="navbar-brand" href="{% url 'login' %}">Login</a><a class="navbar-brand" href="{% url 'register' %}">Register</a>
         </div>
         
       

      </nav>
      <!-- Intro Section -->
      
      <div class="view jarallax" data-jarallax='{"speed": 0.2}'
      style="background-image: url('../static/img 21.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;margin-top:-100px;">
         <div class="mask rgba-indigo-light">
            <div class="container h-100 d-flex justify-content-center align-items-center">
               <div class="row">
                  <div class="col-md-12 wow fadeIn">
                     <div class="text-center white-text">
                        <ul class="list-unstyled">
                           <li>
                              <h1 class="display-4 font-weight-bold white-text wow fadeIn"
                                 data-wow-delay="0.3s">
                                 <br>
                                 <br>
                           
                                 <strong>Jirani</strong>
                                 <br>

                                 <strong>Know what's happening around you</strong>
                              </h1>
                           </li>
                           <li>
                              <h5 class="white-text description mb-5 wow fadeIn" data-wow-delay="0.4s">
                                 Search for activities around | {{total_activity}} activity
                              </h5>
                           </li>
                           <hr>
                           <form action="{% url 'search' %}" method="get">
                              <!--Accordion wrapper-->
                              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                 <!-- Accordion card -->
                                 <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingOne1">
                                       <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                          aria-controls="collapseOne1">
                                          <h5 class="mb-0">
                                             Advanced Search <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                          <small class="text-muted">Filter By Categories</small>
                                       </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                       <div class="card-body">
                                          <!-- Material checked -->
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="houses" name="houses">
                                             <label class="form-check-label" for="houses"> <a class="nav-link" href="{% url 'houses' %}">houses</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="facilities" name="facilities">
                                             <label class="form-check-label" for="facilities"><a class="nav-link" href="{% url 'facilities' %}">facilities</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="schools" name="schools">
                                             <label class="form-check-label" for="schools"><a class="nav-link" href="{% url 'schools' %}">schools</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="hospitals" name="hospitals">
                                             <label class="form-check-label" for="hospitals"><a class="nav-link" href="{% url 'hospitals' %}">hospitals</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="dinner" name="dinner">
                                             <label class="form-check-label" for="dinner"><a class="nav-link" href="{% url 'events' %}">events</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="neighbours" name="neighbours">
                                             <label class="form-check-label" for="neighbours"><a class="nav-link" href="{% url 'neighbours' %}">neighbours</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="markets" name="markets">
                                             <label class="form-check-label" for="markets"><a class="nav-link" href="{% url 'markets' %}">markets</a></label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="radio" class="form-check-input" value="on" id="recreation" name="recreation">
                                             <label class="form-check-labell" for="recreation"><a class="nav-link" href="{% url 'recreation' %}">recreation</a></label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- Accordion card -->
                       
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </form>
      <!-- Footer -->
      <footer class="page-footer text-center text-md-left unique-color-dark pt-0">
         <!-- Copyright -->
         <div class="footer-copyright text-center py-3">
            <div class="container-fluid">
               © 2021 Copyright: <a href="{% url 'home' %}" target="_blank"> jirani </a>
            </div>
         </div>
         <!-- Copyright -->
      </footer>
      <!-- Footer -->
      {% include 'scripts.html' %}
      <script>
         // Animation init
         new WOW().init();
         
         // Material Select Initialization
         $(document).ready(function () {
           $('.mdb-select').material_select();
         });
      </script>
   </body>
</html>